/* ====Universal Elements==== */
body {
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: auto;
    background-image: url(images/silent-hill-welcome.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 2.5rem;
}



h2 {
    align-self: flex-start;
    font-size: 1.5rem;
    border-left: 6px solid grey;
    padding-left: 10px;
    margin-left: 30px;
    margin-top: 40px;
}

h3 {
    border-left: 6px solid grey;
    padding-left: 10px;
}

p {
    font-size: 1.1rem;
}

nav {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-image: radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0.805), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    height: 100vh;
    gap: 1.5rem;
    font-size: 1.25rem;

    & a {
        text-decoration: none;
        transition: .25s;
        text-shadow: 0 0 8px white;
        margin-right: 1rem;
    }
    & a:visited {
        text-decoration: none;
        color: white;
    }
    & a:hover {
        text-shadow: 0 0 10px rgb(137, 9, 9);
        transition: .5s;
    }
    & a:active {
        color: rgb(93, 1, 1);
        transition: none;
    }
}

figcaption {
    color: white;
    font-size: 1;
}

a#current-page {
    text-decoration: none;
    transition: .25s;
    color: black;
    text-shadow: 0 0 8px white;
    
    &:visited {
        text-decoration: none;
        color: black;
    }

    &:hover {
        text-shadow: 0 0 10px rgb(137, 9, 9);
        transition: .5s;
    }
    &:active {
        color: rgb(93, 1, 1);
        transition: none;
    }}
/* ============================ */


/* ====Landing Page==== */
.landing-body {
    height: 85vh;
}


/* page subtitle */
.ah {
    position: absolute;
    text-align: center;
    margin-right: 32%;
    left: 0;
    right: 0;
    bottom: 18%;
    opacity: 60%;
}

/* whu */
.title {
    display: flex;
    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
    
    & h1 {
        margin-bottom: 0;
    }

    & h2 {
        margin-top: 0;
    }}


.creativecommons {
    position: absolute;
    left: 5px;
    bottom: 2px;
    margin: 0;
    padding: 0;
    opacity: 70%;
}

.basic-nav {

    & a {
        color: white;
    }

    & a:visited {
        color: white;
    }

    & a:nth-child(1){
        margin-right: 8px;
    }

    & a:nth-child(2){
        margin-right: 12px;
    }

    & a:nth-child(3){
        margin-right: 20px;
    }

    & a:nth-child(4){margin-right: 12px;}

    & a:nth-child(5) {margin-right: 8px};
}

.landing-nav {
    width: 50vw;
    font-size: 2rem;
    /* background-image: linear-gradient(to left, black, black, rgba(27, 27, 27, 0.545), rgba(0, 0, 0, 0)); */
    background-image: radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0.805), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    gap: 15px;
    
    & a:nth-child(1){
        margin-right: 25px;
    }

    & a:nth-child(2){
        margin-right: 40px;
    }

    & a:nth-child(3){
        margin-right: 35px;
    }

    & a:nth-child(4){
        margin-right: 18px;
    }
}
/* ============================ */



/* ====Basic Page==== */
.basic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    color: white;
    margin: 0 40px;
    background-color: rgb(67, 4, 4);

    color: white;
    text-shadow: 2px 2px 4px #000000;
}
/* ============================ */





/* ====Home Page==== */
/* ============================ */
.home_content section{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-left: 30px;
    padding-right: 30px;
}

.home_about h1{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.home_about p {
        width: 60%;
        margin: 30px 0;
        font-size: 21px;
        text-align: left;
        border-bottom: ridge;
        padding-bottom: 6px
    } 

.home_about h2 {
    width: 50%;
        margin-top: 40px;
        padding-left: 10px;
        font-size: 30px;
        text-align: left;
        border-left: 6px solid grey;
        margin-left: 0;
        
}
.about_project h2 {
        width: 50%;
        margin-top: 40px;
        padding-left: 10px;
        font-size: 30px;
        text-align: left;
        border-left: 6px solid grey;
        margin-left: 0;
}
.about_project p {
        width: 75%;
        margin: 30px 0;
        font-size: 21px;
        text-align: left;
        border-bottom: ridge;
        padding-bottom: 6px
        
}
.game_play h2{
        width: 50%;
        margin-top: 40px;
        padding-left: 10px;
        margin-left: 0;
        font-size: 30px;
        text-align: left;
        border-left: 6px solid grey;
}
.game_play p {
        width: 55%;
        margin: 30px 0;
        font-size: 21px;
        text-align: left;
        border-bottom: ridge;
        padding-bottom: 6px
}
.img_design img:hover{
    transform: scaleX(-1);
}

.img_design img {
    box-sizing: border-box;
    width: 23%;
    
}

.jamesmary_design {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;   
    
}
.jamesmary_design p{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;   
    font-size: 20px
}




/* ====Research Page==== */
.res_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.res_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding: 0 50px; */
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 50px;

    & figure {
        display: inline-block;
        text-align: center;

        & img {
            width: 220px;
            vertical-align: top;
        }

        & figcaption {
            text-align: center;
            margin-top: 5px;
            font-size: .8rem;
        }
    }
}

.p-box {
    width: 80%;
    border-left: 3px solid white;
    padding-left: 8px;
    text-indent: 10px;
}

.cyto_graph {
    display: flex;
    flex-direction: column;
    align-items: center;

    & iframe.cyto {
    width: 700px;
    height: 100vh;
    }

    & img {
        width: 600px;
    }
}


/* ============================ */






/* ====Methods Page==== */
.meth_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.meth_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gist {
    width: 800px;
}
/* ============================ */



/* ====Sources Page==== */
.src_sources {
    width: 70%;

    & li {
        margin: 5px 0;
    }
    & a {
        transition: .25s;
        color: white;
    }
    & a:hover {
        text-shadow: 0 0 10px white;
        transition: .5s;
    }
    & a:visited {
        text-decoration: none;
        color: white;
    }
    
}


              
