
nav {
    display: flex;
    padding: 6px 14px;
    background-color: black;
    width: fit-content;
    border-radius: 20px / 40px;
    gap: 1.5rem;
    font-size: 1.25rem;

    & a {
        text-decoration: none;
        transition: .25s;
        color: white;
    }
    & a:visited {
        text-decoration: none;
        color: white;
    }
    & a:hover {
        text-shadow: 0 0 10px white;
        transition: .5s;
    }
    & a:active {
        color: rgb(93, 1, 1);
        transition: none;
    }
}

body {
    /* background-color: black; */
    background-image: url(images/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.page-stuff {
    display: flex;
    flex-direction: column;
    margin: 5vh 22vw 0 22vw;
    background-color: rgb(93, 1, 1);
    padding: 10px 50px 10px 50px;
    color: white;
    height: 100vh;
}



/* Sources Page */
.src_sources {

    & a {
        transition: .25s;
    }
    & a:hover {
        text-shadow: 0 0 10px white;
        transition: .5s;
    }
    & a:visited {
        text-decoration: none;
        color: black;
    }
}